        /* CSS Reset */
        body {
            font-family: 'Oswald', sans-serif;
            font-family: 'Poppins', sans-serif;
            color: white;
            margin: 0px;
            padding: 0px;
            background: url(/img/bg.jpg);
        }

        .left {
            position: absolute;
            left: 33px;
            top: 20px;
            display: inline-block;
            /* border: 2px solid red; */
        }

        .left img {
            padding-left: 23px;
            width: 50px;
            filter: invert(100%);
        }

        .left div {
            font-family: 'Oswald', sans-serif;
            font-family: 'Poppins', sans-serif;
            text-align: center;
            line-height: 0px;
            font-size: 16px;
        }

        .mid {
            display: block;
            width: 45%;
            margin: 20px auto;
            /* border: 2px solid green; */
        }

        .right {
            position: absolute;
            right: 33px;
            top: 20px;
            display: inline-block;
            /* border: 2px solid yellow; */
        }

        .navbar {
            display: inline-block;
        }

        .navbar li {
            display: inline-block;
            font-size: 18px;
        }

        .navbar li a {
            color: white;
            padding: 18px 18px;
            text-decoration: none;
        }

        .navbar li a:hover,
        .navbar li a .active {
            text-decoration: underline;
            color: gray;
        }

        .btn {
            font-family: 'Oswald', sans-serif;
            font-family: 'Poppins', sans-serif;
            margin: 0 12px;
            padding: 4px 14px;
            background-color: black;
            color: white;
            border: 2px solid gray;
            border-radius: 10px;
            cursor: pointer;
            font-size: 20px;
        }

        .btn:hover {
            background-color: rgb(70, 65, 65);
        }

        .container {
            border: 2px solid white;
            margin: 47px 57px;
            padding: 42px 49px;
            width: 39%;
            border-radius: 15px;
        }

        .form-group input {
            font-family: 'Oswald', sans-serif;
            font-family: 'Poppins', sans-serif;
            text-align: center;
            display: block;
            margin: 4px auto;
            padding: 4px 27px;
            border-radius: 20px;
            width: 47%;
            font-size: 22px;
        }

        .container h1 {
            text-align: center;
        }

        .container button {
            font-family: 'Oswald', sans-serif;
            font-family: 'Poppins', sans-serif;
            display: block;
            width: 57%;
            margin: 10px auto;
            border-radius: 20px;
        }